*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url('../images/book.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 750px;
}

@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

h1{
    text-align: center;
    color: white;
    padding: 5px;
    }

img{
    width: 70px;
    height: 48px;
    border-radius: 50%;
    left: 205px;
    position: relative;

}
.reg{
    width: 34%;
    height: 570px;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
    padding: 18px;
    background-color: rgba(0,0,0,0.5);
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
    background-attachment: fixed;
    position: relative;
    opacity: 1;
	/* min-height: 100vh; */
}
label{
    color:white;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
}
::placeholder{
    color: white;
    font-style: italic;
}

#row input{
    width: 241px;
}

/* input {
    width: 300px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ed9696;
    background:none;
    outline: 0;
    color: white;
} */

#name{
    width: 300px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ed9696;
    background:none;
    outline: 0;
    color: white;
}
#code{
    padding: 3px;
    width: 126px;
    border: none;
    background:none;
    color: #82a1b6;;
    border-bottom: 2px solid;
}
#mnum{
    padding: 3px;
    border: none;
    background:none;
    outline: 0;
    border-bottom: 2px solid #ed9696;
    width: 250px;
    color: white;
}
#mnum :hover{
    color: tomato;
}
#ml{
    color: white;
    font-size: 18px;

}
#sub{
    width: 150px;
    padding: 10px;
    color: white;
    background: #ea7025;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: 0;
    position: relative;
    left: 170px;
    bottom: -25px;
    border-radius: 50px;
}

.social{
    /* margin: 2em 0 0; */
    padding: 50px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
      }
.social :hover{
    transform: scale(1.3);
}
.heading h5 {
    color: #c5c5c5;
    color: #000000; 
    margin-top: 8px;
    font-size: 20px;
}
.social span.fa {
	color: #fff;
	font-size: 12px;
	line-height: 35px;
	margin: 0 5px;
	transition: 0.5s all;
}
.social ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    position: relative;
    left: -30px;
    bottom: 22px;
}
.social a.facebook{
    background: #3b5998;
}
.social a.twitter{
    background: #1da1f2;
}
.social a.linkedin {
    background: #00a0dc;
}
.social a.google {
    background: #dd4b39;
}
.social ul li a {
	background: rgba(255, 255, 255, 0.22);
	width: 35px;
	height: 35px;
	line-height: 35px;
	display: block;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
