
/* slider */
.slider{
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .slider input {
    position: absolute;  
    opacity: 0;
    margin-top: 95vh;
    cursor: pointer;
  }
  
  .slider label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px white;
    border-radius: 999px;
    background-color: transparent;
    margin: 95vh 6px 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
  }
  
  .slider input:checked + label{
    background-color: white;
  }
  
  .slider input:focus + label{
    box-shadow: 0 0 0 2px teal, 0 0 18px white;
  }
  
  .slider .slide {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
  }
  
  .slider input:checked ~ .slide {
    transform: translateX(100%);
  }
  
  .slider input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
  } 
  
  .bg1{
    background-image: url('/static/Slider/1.jpg'); 
  }
  .bg2{
    background-image: url('/static/Slider/2.jpg');
  }
  .bg3{
    background-image: url('/static/Slider/7.jpg');
  }
  .bg4{
    background-image: url('/static/Slider/8.jpg');
  }
  .bg5{
    background-image: url('/static/Slider/9.jpg');
  }
  /* slider  End*/