{% extends 'cat_main.html' %}
{% block title %}Category{% endblock  %}
{% block body %}
{% load static %}


<link rel="stylesheet" href="{% static "category/css/bootstrap.min.css"%}"><!-- bootstrap-CSS -->
<link rel="stylesheet" href="{% static "category/css/bootstrap-select.css"%}" ><!-- bootstrap-select-CSS -->
<link href="{% static "category/css/style.css"%}" rel="stylesheet" type="text/css" media="all" /><!-- style.css -->
<link rel="stylesheet" href="{% static "category/css/font-awesome.min.css"%}" /><!-- fontawesome-CSS -->
<!-- <link rel="stylesheet" href="../static/category/css/style.css"> -->
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta tags -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->	


</head>
<body>
    
    <div class="main-content">
        <div class="w3-categories">
            <h3>Browse Categories</h3>
            <div class="container">
                <div class="col-md-3">
                    <div class="focus-grid w3layouts-boder1">
                        <a class="btn-8" href={% url 'Technology' %}>
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="fa fa-mobile"></i></div>
                                    <h4 class="clrchg">Technology</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="focus-grid w3layouts-boder2">	
                    <a class="btn-8" href={% url 'Electronics_applices' %}>
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-laptop"></i></div>
                                <h4 class="clrchg"> Electronics & Appliances</h4>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder3">
                    <a class="btn-8" href={% url 'Vehical' %}>
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-car"></i></div>
                                <h4 class="clrchg">Vehical</h4>
                            </div>
                        </div>
                    </a>
                </div>	
                </div>

                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder5">
                    <a class="btn-8" href={% url 'Furnitures' %}>
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                                <h4 class="clrchg">Furnitures</h4>
                            </div>
                        </div>
                    </a>
                </div>
                </div>

                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder6">
                    <a class="btn-8" href="categories.html#parentVerticalTab6">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-paw"></i></div>
                                <h4 class="clrchg">Animala</h4>
                            </div>
                        </div>
                    </a>
                </div>	
                </div>
              
                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder7">
                    <a class="btn-8" href="categories.html#parentVerticalTab7">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-book"></i></div>
                                <h4 class="clrchg">Books, Sports & Hobbies</h4>
                            </div>
                        </div>
                    </a>
                </div>	
                </div>
               
                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder8">
                    <a class="btn-8" href={% url 'Fashion' %}>
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                                <h4 class="clrchg">Fashion</h4>
                            </div>
                        </div>
                    </a>
                </div>	
                </div>
               
                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder9">
                    <a class="btn-8" href={% url 'Kids' %}>
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                                <h4 class="clrchg">Kids</h4>
                            </div>
                        </div>
                    </a>
                </div>	
                </div>
                
                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder9">
                    <a class="btn-8" href="categories.html#parentVerticalTab9">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class= "fa fa-scissors"></i></div>
                                <!-- <i class="fa fa-gamepad"></i> -->

                                <h4 class="clrchg">Hair-saloon</h4>
                            </div>
                        </div>
                    </a>
                </div>	
                </div>

               
                <div class="col-md-3">
                <div class="focus-grid w3layouts-boder12">
                    <a class="btn-8" href={% url 'Real_estate' %}>
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-home"></i></div>
                                <h4 class="clrchg">Real Estate</h4>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


</body>
</html>

{% endblock  %}