{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Self Bisz Props</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <link href="{% static "/img/favicon.png"%}" rel="icon">
  <link href="{% static "/img/apple-touch-icon.png"%}"" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
     href="{% static "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"%}"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="  {% static "/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/icofont/icofont.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/animate.css/animate.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/vendor/venobox/venobox.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/owl.carousel/assets/owl.carousel.min.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css"%}" rel="stylesheet">
  <link href="{% static "Slider/style.css"%}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Groovin - v2.1.0
  * Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link rel="stylesheet" href="{% static "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"%}"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .carousel-inner {
      position: relative;
      width: 138%;
      overflow: hidden;
      left: -250px;
      height: 100%;
    }
</style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
<!-- <img src="/static/img/portfolio/logo.jpg" alt=""> -->
      <h1 class="logo mr-auto"><img src="/static/img/LOGO2.jpg" alt="" ><a href="index.html"></a></h1>
      {% comment %} <h1 class="logo mr-auto"><img src="/static/img/portfolio/logo2.jpg" alt="" ><a href="index.html">SBP</a></h1> {% endcomment %}
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="{% static "/img/logo.png"%}" alt="" class="img-fluid"></a>-->




      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>

          <li class="drop-down"><a href="{% url 'category' %}">Business</a>
            <ul>

              <li><a href="#">Technology</a></li>
              <li><a href="#">Retail</a></li>
              <li><a href="#">Grosary</a></li>
              <li><a href="#">HANDICRAFT</a></li>
              <li><a href="#">FOOD PRODUCTION</a></li>
              <li><a href="#">PHARMCY</a></li>

            </ul>

          </li>

          <li class="drop-down"><a href="">Client</a>
            <ul>

              <li><a href="#">Technology</a></li>
              <li><a href="#">Retail</a></li>
              <li><a href="#">Grosary</a></li>
              <li><a href="#">HANDICRAFT</a></li>
              <li><a href="#">FOOD PRODUCTION</a></li>
              <li><a href="#">PHARMCY</a></li>

            </ul>

          </li>

          <li><a href="Activity">Activity</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>



        </ul>
      </nav><!-- .nav-menu -->
      <a href="#about"  class="get-started-btn scrollto" id="story">Share Your Story</a>
      <a href="{% url 'login' %}" class="get-started-btn scrollto">Login</a>
      <a href="{% url 'reg' %}" class="get-started-btn scrollto" >Registration</a>
    </div>
    </div>
  </header>
  <!-- End Header -->

<!-- slider -->
<div class="slider"> 


<input type="radio" id="trigger1" name="slider" checked autofocus>
<label for="trigger1"></label>
<div class="slide bg1"></div>

<input type="radio" id="trigger2" name="slider" >
<label for="trigger2"></label>
<div class="slide bg2"></div>

<input type="radio" id="trigger3" name="slider">
<label for="trigger3"></label>
<div class="slide bg3"></div>

<input type="radio" id="trigger4" name="slider">
<label for="trigger4"></label>
<div class="slide bg4"></div>

<input type="radio" id="trigger5" name="slider">
<label for="trigger5"></label>
<div class="slide bg5"></div>

</div>
<!-- End slider -->



  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Self Bisz Props</h3>
              <p>
                Self Bisz Props provides platform and communication  services that businesses need in today’s for startup own business.we understand how important the internet is to the top and bottom line of your business.Our goal is create indian people own business .
                {% comment %} We want to carve a business platform that is completely unique, improves your work flow processes, reduces paperwork, appeals to your target audience, and becomes the foundation for an expedited growth. {% endcomment %}
              </p>
              <div class="row">
                <div class="col-md-6 icon-box">
                  <i class="bx bx-receipt"></i>
                  <h4>News</h4>
                  <p>All the  updated Business News are available</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Deal-communicate</h4>
                  <p>We could build platform for  communicate and deal with business proposal-client.</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-images"></i>
                  <h4>User-Talk</h4>
                  <p>we can build idea sharing content for user</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-shield"></i>
                  <h4>Bank-Loan</h4>
                  <p>our team provide some  avalible sources of loan.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p><strong>Happy Clients</strong><br> from satisfied Work</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p><strong>Projects</strong><br> Done Sucessfully</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p><strong>Hours Of Support</strong><br> 24*7</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">15</span>
              <p><strong>Hard Workers</strong><br>Gets Marvelous quality</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row">


          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/clients/tcs.png"%}" class="img-fluid" alt="">
            {% comment %} {% static "/img/portfolio/DLF-Logo.png"%} {% endcomment %}
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/clients/book comp.png"%}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/clients/tesla.jpg"%}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/clients/dmart.png"%}" class="img-fluid" alt="">
          </div>

{% comment %} <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/portfolio/client-4.png"%}" class="img-fluid" alt="">
          </div> {% endcomment %}

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/clients/DLF-Logo.png"%}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static "/img/clients/agriculture.jpg"%}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
    <!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>We are provide platform for gather some important information which is reqired for build own business in own country which make india #Atamanirbharbharat,Also we are provide some goverment business related news and loan source information. </p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="">Business-client contact</a></h4>
            <p class="description">Our website provide communication between unknow person who want to build business or sell idea of business</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href="">Loan</a></h4>
            <p class="description">We are provide some loan source for gather and build own business</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-earth"></i></div>
            <h4 class="title"><a href="">Gov News</a></h4>
            <p class="description">We are provide all update business related news which is going on trending in market.</p>
          </div>

      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Our main goal is create oportunity of business which is actually create by india people which create #atamanirbharbharat second one we are provide letest goverment news of business related and provide some load guide for business</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Atmanirbharbharat</h4>
              <p>When India speaks of becoming self-reliant, it doesn’t advocate a self-centred system. In India’s self-reliance; there is a concern for the whole world’s happiness, cooperation and peace</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Goverment News of Business</h4>
              <p>Every government in the world does that, we in India haven't done that enough and I think that is changing. This realisation is very sharp in India,</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4> Loan</h4>
              <p>With many entrepreneurs making their mark and moving ahead with path-breaking strides, startups are no longer a derogatory word, in fact, they have become the current buzzword.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Tech</li>
              <li data-filter=".filter-card">Auto</li>
              <li data-filter=".filter-web">Retail</li>
              <li data-filter=".filter-web">real estate</li>
              <li data-filter=".filter-web">Book</li>
              <li data-filter=".filter-web">Agriculture</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static "/img/portfolio/tech3.jpg"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Tech</h4>
                <p>Technology</p>
                <div class="portfolio-links">
                  <a href="{% static "//img/portfolio/tech3.jpg"%}" data-gall="portfolioGallery" class="venobox"
                    title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static "/img/portfolio/auto.jpg"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Auto</h4>
                <p>Automobile</p>
                <div class="portfolio-links">
                  <a href="{% static "/img/portfolio/auto.jpg"%}" data-gall="portfolioGallery" class="venobox"
                    title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static "/img/portfolio/real estate.jpg"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Real Estate</h4>
                <p>Real Estate</p>
                <div class="portfolio-links">
                  <a href="{% static "/img/portfolio/real estate.jpg"%}" data-gall="portfolioGallery" class="venobox"
                    title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static "/img/portfolio/retail.jpg"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Retail</h4>
                <p>Retailer</p>
                <div class="portfolio-links">
                  <a href="{% static "/img/portfolio/retail.jpg"%}" data-gall="portfolioGallery" class="venobox"
                    title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static "/img/portfolio/book.jpeg"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Book</h4>
                <p>Book-shop</p>
                <div class="portfolio-links">
                  <a href="{% static "/img/portfolio/book.jpeg"%}" data-gall="portfolioGallery" class="venobox"
                    title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static "/img/portfolio/Furniture.jpeg"%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Furniture</h4>
                <p>Furniture</p>
                <div class="portfolio-links">
                  <a href="{% static "/img/portfolio/Furniture.jpeg"%}" data-gall="portfolioGallery" class="venobox"
                    title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work.</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member">


              <img src="{% static "/img/team/dhruv1.png"%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Patel Dhruvish</h4>
                  <span>Project Manager</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static "/img/team/sona1.jpg"%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Patel Sonali</h4>
                  <span>Project Partner</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static "/img/team/liza1.jpg"%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Babriya Liza</h4>
                  <span>Project Partner</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static "/img/team/raj1.jpg"%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Chavda Raj</h4>
                  <span>Project Manager</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Team Section -->

    
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                href="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                  gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                  donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                  ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
                class="collapsed">Dolor sit amet consectetur adipiscing elit? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                  integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                  Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi
                  quis
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
                class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                  vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                  gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
                class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem
                dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada
                  nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                  tellus in metus vulputate eu scelerisque.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>while we're here for nationship,then it's simpler ways for us to get in touch and answer your question</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="icofont-google-map"></i>
              <h3>Address</h3>
              <address>Kedarnath, Uttarakhand,NY 246445, India</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="icofont-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+91 01364-233210 / 233388</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="icofont-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:capital91@gmail.com">capital91@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>SBP</h3>
              <p>
                Kedarnath, Uttarakhand, <br>
                NY 246445, India<br><br>
                <strong>Phone:</strong> +91 01364-233210 / 233388<br>
                <strong>Email:</strong> capital91@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.skype.com/en/" target="_blank" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gov Politcy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bank Loan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">News</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>#स्वदेशी #स्वदेश_प्रेम #aatamnirbharbharat #आत्मनिर्भरभारत #आत्मनिर्भर #in..</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SBP</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
        Designed by <a href="#">DSLR</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
 
   <script src="{% static "/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "/vendor/jquery.easing/jquery.easing.min.js"%}"></script>
  <script src="{% static "/vendor/php-email-form/validate.js"%}"></script>
  <script src="{% static "/vendor/jquery/jquery.min.js"%}"></script>
  <script src="{% static "/vendor/waypoints/jquery.waypoints.min.js"%}"></script>
  <script src="{% static "/vendor/counterup/counterup.min.js"%}"></script>
  <script src="{% static "/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
  <script src="{% static "/vendor/venobox/venobox.min.js"%}"></script>
  <script src="{% static "/vendor/owl.carousel/owl.carousel.min.js"%}"></script> 
  
  <!-- Template Main JS File -->
  <script src="{% static "/js/main.js"%}"></script>
  
</body>

</html>