{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock  %}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <link href="{% static "/img/LOGO2.jpg"%}" rel="icon">
  <link href="{% static "/img/apple-touch-icon.png"%}"" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
     href="{% static "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"%}"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="  {% static "/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/icofont/icofont.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/animate.css/animate.min.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/vendor/venobox/venobox.css"%}" rel="stylesheet">
  <link href="  {% static "/vendor/owl.carousel/assets/owl.carousel.min.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css"%}" rel="stylesheet">
  <link href="{% static "Slider/style.css"%}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Groovin - v2.1.0
  * Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link rel="stylesheet" href="{% static "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"%}"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .carousel-inner {
      position: relative;
      width: 138%;
      overflow: hidden;
      left: -250px;
      height: 100%;
    }
</style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
<!-- <img src="/static/img/portfolio/logo.jpg" alt=""> -->
{% comment %} {% static "img/LOGO2.JPG"%} {% endcomment %}
      <h1 class="logo mr-auto"><img src="{% static "img/LOGO2.JPG"%}" alt="" ></h1>
      <!-- <h1 class="logo mr-auto"><img src="/static/img/portfolio/logo2.jpg" alt="" ><a href="{% url 'index' %}">SBP</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="{% static "/img/logo.png"%}" alt="" class="img-fluid"></a>-->




      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>

          <li class="drop-down"><a href="{% url 'subcategories' %}">Business</a>
            <ul>

              <li><a href="{% url 'Technology' %}">Technology</a></li>
              <li><a href="{% url 'Vehical' %}">Vehical</a></li>
              <li><a href="{% url 'Electronics_applices' %}">Electronics-applices</a></li>
              <li><a href="{% url 'Fashion' %}">Fashion</a></li>
              <li><a href="{% url 'Furnitures' %}">Furnitures</a></li>
              <li><a href="{% url 'Kids' %}">Kids</a></li>
              <li><a href="{% url 'Pets' %}">Pets</a></li>
              <li><a href="{% url 'Real_estate' %}">Real-estate</a></li>

            </ul>

          </li>

          <li class="drop-down"><a href="">Client</a>
            <ul>

              <li><a href="#">Technology</a></li>
              <li><a href="#">Retail</a></li>
              <li><a href="#">Grosary</a></li>
              <li><a href="#">HANDICRAFT</a></li>
              <li><a href="#">FOOD PRODUCTION</a></li>
              <li><a href="#">PHARMCY</a></li>

            </ul>

          </li>

          <li><a href="Activity">Activity</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>



        </ul>
      </nav><!-- .nav-menu -->
      <a href="#about"  class="get-started-btn scrollto" id="story">Share Your Story</a>
      <a href="{% url 'final_login' %}" class="get-started-btn scrollto">Login</a>
      <a href="{% url 'final_reg' %}" class="get-started-btn scrollto">Registration</a>
      {% comment %} <a href="https://form.jotform.com/210726122722445" class="get-started-btn scrollto" >Registration</a> {% endcomment %}
      {% comment %} <a href="{% url 'reg' %}" class="get-started-btn scrollto" >Registration</a> {% endcomment %}
    </div>
    </div>
  
  </header>
  <!-- End Header -->

  {% block body %}{% endblock  %}

  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>SBP</h3>
              <p>
                Kedarnath, Uttarakhand, <br>
                NY 246445, India<br><br>
                <strong>Phone:</strong> +91 01364-233210 / 233388<br>
                <strong>Email:</strong> capital91@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.skype.com/en/" target="_blank" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gov Politcy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bank Loan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">News</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>#स्वदेशी #स्वदेश_प्रेम #aatamnirbharbharat #आत्मनिर्भरभारत #आत्मनिर्भर #in..</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SBP</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
        Designed by <a href="#">DSLR</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
 
   <script src="{% static "/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "/vendor/jquery.easing/jquery.easing.min.js"%}"></script>
  <script src="{% static "/vendor/php-email-form/validate.js"%}"></script>
  <script src="{% static "/vendor/jquery/jquery.min.js"%}"></script>
  <script src="{% static "/vendor/waypoints/jquery.waypoints.min.js"%}"></script>
  <script src="{% static "/vendor/counterup/counterup.min.js"%}"></script>
  <script src="{% static "/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
  <script src="{% static "/vendor/venobox/venobox.min.js"%}"></script>
  <script src="{% static "/vendor/owl.carousel/owl.carousel.min.js"%}"></script> 
  
  <!-- Template Main JS File -->
  <script src="{% static "/js/main.js"%}"></script>
  
</body>

</html>
