{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/log.css"%}">
    <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/font-awesome.min.css"%}">
    <title>Registartions</title>
</head>

<body>
    <h1>Login Form</h1>
    <div class="log">
        <form id="log" action="" method="post">
            <img src="{% static "/REG_LOG_FORGOT/images/LOGO2.JPG"%}" alt=""><br><br>

            <div>
                <!-- <label>User Name</label><br> -->
                <span class="fa fa-user"></span>
                <input type="text" name="username" id="name" placeholder="User Name" required=""/><br><br>
            </div>
            <div>
                <!-- <label>Email</label><br> -->
                <span class="fa fa-envelope"></span>
                <input type="email" name="email" id="name" placeholder="example@gmail.com" required=""/><br><br>
            </div>
            
            <div>
                <!-- <label>Password</label><br> -->
                <span class="fa fa-lock"></span>
                <input type="password" name="password" id="name" placeholder="Enter Your Password" required=""/><br><br>
            </div>
            
            <button type="submit" id="sub" value="login">Login</button><br><br>
            					
            <div class="links">
				<p id="forgot"><a href="{% url 'final_forgot' %} ">Forgot Password?</a></p><br>
				<p id="new"><a href="{% url 'final_reg' %}">New User? Register</a></p>
					<div class="clear"></div>
			</div>



        </form>


        <!-- <label>OR-</label> -->
        <label>Login using Below:-</label>
        <div class="social">
            <ul>
                <!-- <li>or login using : </li> -->
                <li><a href="https://www.facebook.com/" target="_blank" class="facebook"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://twitter.com/" target="_blank" class="twitter"><span class="fa fa-twitter"></span></a></li>
                <li><a href="https://www.google.com/" target="_blank" class="google"><span class="fa fa-google-plus"></span></a></li>
            </ul>
        </div>


    </div>
</body>

</html>