{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/forgot.css"%}">
    <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/font-awesome.min.css"%}">
    <title>Forgott</title>
</head>

<body>
    <h1>Forgot Password</h1>
    <div class="log">
        <form id="log" action="" method="post">
            <img src="{% static "/REG_LOG_FORGOT/images/LOGO2.JPG"%}" alt=""><br><br>

            <!-- <div> -->
                <!-- <label>User Name</label><br> -->
                <!-- <span class="fa fa-user"></span>
                <input type="text" name="username" id="name" placeholder="User Name" required=""/><br><br>
            </div>
            <div> -->
                <!-- <label>Email</label><br> -->
                <span class="fa fa-envelope"></span>
                <input type="email" name="email" id="name" placeholder="example@gmail.com" required=""/><br><br>
            </div>
            
            <button type="submit" id="sub" value="login">Send</button>

        </form>

    </div>
</body>

</html>